@import '../Vars.scss';

.button-a {
    & button {
        background-color: $firstColor;
        color: $secondColor;
        border: none;
        width: 150px;
        height: 40px;
        border-radius: 15px;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        &:hover {
            border: white solid 2px;
        }
    }
}